.navbar{
    text-align: center;
    display: flex;
   justify-content: space-between;
   background-color: darkgrey;
}
  .logo{
    width: 100px;
    height:100px;
  }
  .click-products{
    cursor: pointer;
  }
  .logo-basket{
    width: 70px;
    height:70px;
    border-radius:700%;
    margin:15px;
  }
  .logo-header{
    position: relative;
  } 
  .number{
    position: absolute; 
    top: -13%;
    right: 30%;
    color: red;
  }
 